@{
    ViewData["Title"] = "Index/Hello";
}

<div class="text-left">
    <h1 class="display-3">Index</h1>
    <p class="h4 mb-4">@ViewData["message"]</p>
    <partial name="_table.cshtml">
</div>